<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Celebrity Dating App</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Cookie|Lato|Montserrat|Raleway|Viaoda+Libre&display=swap" rel="stylesheet">
</head>
<body>
  <div id="container">

    <h1>Celebrity Dating Profiles</h1>

    <p>Click on a profile to see which celebrity you match with!</p>



    {% for trip in triple %}
    <div class="flex-container">
<div class="bio">
    <img class="bio" src="{{ url_for('static', filename='images/' + trip[2]) }}">
</div>
      <div class="indexlist"><a href="{{ url_for('detail', num=trip[0])}}">{{ trip[1] }} </a></div>
    </div>

    {% endfor %}



</div>
  <p class="footer">All images courtesy of Wikimedia Commons and flickr.com</p>
</body>
</html>
